<!-- Homework1 -->
<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<app-topbanner></app-topbanner>
<app-categorymenu></app-categorymenu>
<!-- Homework1 -->

<div>
  <!-- <app-home [title]="'home conpunent 1'"></app-home>
  <app-home [title]="'home conpunent 2'"></app-home>
  <app-home [title]="'home conpunent 3'"></app-home>
  <app-home [title]="'home conpunent 4'"></app-home> -->

  <!-- Lab 3: Component-Template-CSS -->
  <app-counting></app-counting>

  <!-- Lab 4:ทดสอบ Directives -->
  <app-lab4></app-lab4>

</div>
<app-todolist></app-todolist>

<!-- Homework3 -->
<app-homework3></app-homework3>
<div class="pt-5"></div>
<div class="pt-5"></div>
<!-- Reuse navbar component from Homework1 -->
<app-navbar></app-navbar>
<app-homework3banner></app-homework3banner>
<app-homework3search></app-homework3search>
<app-homework3cards></app-homework3cards>