<mat-toolbar color="warn">
    <a mat-button><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-gamepad" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-truck" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-money" aria-hidden="true"></i></a>

    <a mat-button><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-gamepad" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-truck" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-money" aria-hidden="true"></i></a>

    <a mat-button><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-gamepad" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-truck" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-money" aria-hidden="true"></i></a>

    <a mat-button><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-ticket" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-gamepad" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-truck" aria-hidden="true"></i></a>
    <a mat-button><i class="fa fa-money" aria-hidden="true"></i></a>




</mat-toolbar>